<!--Tasks -->
<section class="task-header">
  <h1> Tasks </h1>

  <button (click)="openDialogOnAddTodo()" color="primary" mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
</section>

<mat-selection-list #shoes>
  @for (todo of todoList(); track todo.id) {
    <div class="todo-item">

      <mat-list-option
        color="primary"
        togglePosition="before"
        (click)="handleToggleTodoCompleted(todo.id)"
        [selected]="todo.completed"
      >
        <span matListItemTitle>{{ todo.title }}</span>
        <span
          [ngClass]="{'text-accent': todo.description.length === 0 }"
          matListItemLine>{{ todo.description.length === 0 ? 'No description on this todo' : todo.description }} </span>
      </mat-list-option>

      <button (click)="openDialogOnEditMode(todo.id)" mat-icon-button color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
    </div>
  }
</mat-selection-list>
